@model ReviewSite.Models.Review

@{
    ViewBag.Title = "Review Details";
}

<hr style="margin-bottom: 0px;" />

<div class="reviewDetailsView">

    <div class="container">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">

            <h1 id="reviewDetailsName">
                @Html.DisplayFor(model => model.ReviewTitle)
            </h1>

            <h4 id="reviewDetailsScore">
                Score: @Html.DisplayFor(model => model.ReviewScore)
            </h4>

            <h4 id="reviewDetailsCategory">
                Category: @Html.DisplayFor(model => model.Category.CategoryName)
            </h4>

            <h4 id="reviewDetailsPublishedDate">
                Published: @Html.DisplayFor(model => model.PublishedDate)
            </h4>

            <h4 id="reviewDetailsAuthor">
                Author: @Html.DisplayFor(model => model.ReviewAuthor)
            </h4>

            <h4 class="reviewDetailsContentBox" id="reviewDetailsContent">
                "@Html.DisplayFor(model => model.ReviewContent)"
            </h4>

        </div>

    </div>

</div>

<div class="container" style="padding-top: 15px;">

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
