@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}
<hr />
@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <img src="~/Content/images/tripadvisor-icon.png" />

            <h1 id="reviewName">
                "@Html.DisplayFor(modelItem => item.ReviewTitle)"
            </h1>

            <h4 id="reviewScore">
                Score: @Html.DisplayFor(modelItem => item.ReviewScore)
            </h4>

            <h4 id="reviewCategory">
                Category: @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </h4>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </p>
        </div>
    }
</div>